body{
    background-color: blue($color: #000000);
    color: red($color: #000000);
}


$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$logo-header-color: #000000;
$footer-contact-text: rgba(255, 255, 255, 0.6);
$primary-white-color: #ffffff;
$intermediate-background-color: #f5f4fa;
$secondary-background-color: #2f303a;
$hover-main-btn: #188ce8;
$font-family-primary: 'Roboto',
sans-serif;
$border-color: #ececec;
$border-portfolio-color: #eeeeee;
$hero-background: #c4c4c4;
$client-color: #afb1b8;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);