.team__card-set {
  @include positioning-flex();
  margin-left: calc(-1 * var(--gap));
  margin-top: calc(-1 * var(--gap));
}

.team__card {
  flex-basis: calc(100% / 4 - var(--gap));
  margin-left: var(--gap);
  margin-top: var(--gap);
  border-radius: 0px 0px 4px 4px;
  box-shadow: var(--shadow-card-team);
}

.team__description {
  background-color: var(--primary-white-color);
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.team__position {
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  margin-bottom: 16px;
}
