.contact__list {
  @include positioning-flex($jc: left);
}

.contact__item {
  height: 100%;
  @include positioning-flex($jc: left);
  @extend %header-menu-indent;

  &:last-child {
    @extend %header-menu-indent-last;
  }
}

.contact__link {
  @include positioning-flex(inline-flex, left);
  height: 100%;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color var(--duration-primary) var(--timing-primary);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contact__icon {
  @extend %fill-icon;

  &--prepend {
    margin-right: 10px;
  }
}
