body {
  font-family: var(--font-family-primary);
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-size: var(--primary-font-size);
  letter-spacing: var(--primary-letter-spacing);
  line-height: var(--primary-line-height);
}
