:root {
--accent-color: #2196f3;
--primary-white-color: #ffffff;
--title-text-color: #212121;
--primary-text-color: #757575;
--client-color: #afb1b8;
--intermediate-background-color: #f5f4fa;
--color-board-header: #ececec;
--color-board-btn-close: rgba(0, 0, 0, 0.1);
--color-board-input-footer: rgba(255, 255, 255, 0.3);
--color-board-card: #eeeeee;
--color-board-input-modal: rgba(33, 33, 33, 0.2);
--color-btn-close: #000000;
--color-contact-footer: rgba(255, 255, 255, 0.6);
--color-input-footer: rgba(255, 255, 255, 0.6);
--color-logo-header: #000000;
--color-placeholder-modal: rgba(117, 117, 117, 0.5);
--bcg-backdrop: rgba(0, 0, 0, 0.2);
--bcg-btn-hover: #188ce8;
--bcg-client: transparent;
--bcg-department: rgba(47, 48, 58, 0.8);
--bcg-footer: #2f303a;
--bcg-hero: #c4c4c4;
--bcg-link-social-staff: transparent;
--bcg-overlay-card-portfolio: rgba(33, 150, 243, 0.9);
--bcg-social-icon-footer: rgba(255, 255, 255, 0.1);
--duration-primary: 250ms;
--font-family-primary: 'Roboto', sans-serif;
--font-family-secondary: 'Raleway', sans-serif;
--primary-font-size: 14px;
--primary-letter-spacing: 0.03em;
--primary-line-height: 1.14;
--gap: 30px;
--margin-menu-item: 50px;
--padding-container: 15px;
--padding-hero: 200px;
--padding-modal: 40px;
--padding-section: 94px;
--radius-board: 4px;
--shadow-card-team: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
0px 2px 1px rgba(0, 0, 0, 0.2);
--shadow-btn: 0px 4px 4px rgba(0, 0, 0, 0.15);
--shadow-btn-filter: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
0px 2px 2px rgba(0, 0, 0, 0.12);
--shadow-modal: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
0px 2px 1px rgba(0, 0, 0, 0.2);
--timing-primary: cubic-bezier(0.4, 0, 0.2, 1);
--width-container: 1200px;
--width-page: 1600px;
--width-modal-form: 448px;
}
